<%= form_for @tarefa, :html => { :class => "form-horizontal tarefa" } do |f| %>

    <% if @tarefa.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@tarefa.errors.count, "error") %> prohibited this tarefa from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @tarefa.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :titulo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :titulo, :class => 'form-control' %>
    </div>
    <%= error_span(@tarefa[:titulo]) %>
  </div>
  <div class="control-group">
    <%= f.label :data, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :data, :class => 'form-control' %>
    </div>
    <%= error_span(@tarefa[:data]) %>
  </div>
  <div class="control-group">
    <%= f.label :hora, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hora, :class => 'form-control' %>
    </div>
    <%= error_span(@tarefa[:hora]) %>
  </div>
  <div class="control-group">
    <%= f.label :descricao, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :descricao, :class => 'form-control' %>
    </div>
    <%= error_span(@tarefa[:descricao]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            tarefas_path, :class => 'btn btn-default' %>

<% end %>
