<h1>Listando tarefas</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Data</th>
      <th>Hora</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tarefas.each do |tarefa| %>
      <tr>
        <td><%= tarefa.titulo %></td>
        <td><%= tarefa.data %></td>
        <td><%= tarefa.hora %></td>
        <td><%= tarefa.descricao %></td>
        <td><%= link_to 'Visualizar', tarefa %></td>
        <td><%= link_to 'Editar', edit_tarefa_path(tarefa) %></td>
        <td><%= link_to 'Excluir', tarefa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova tarefa', new_tarefa_path %>
