<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @tarefa.titulo %>
</p>

<p>
  <strong>Data:</strong>
  <%= @tarefa.data %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @tarefa.hora %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @tarefa.descricao %>
</p>

<%= link_to 'Editar', edit_tarefa_path(@tarefa) %> |
<%= link_to 'Voltar', tarefas_path %>
