<p id="notice"><%= notice %></p>

<p>
  <strong>Nome completo:</strong>
  <%= @user.nome_completo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @user.senha %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
